:root {
  --navy: #0A101E;
  --navy-2: #0d1620;
  --accent: #ffffff;
  --muted: #f4f4f4;
  --width-desktop: 1400px;
  --width-small-desktop: 1100px;
  --width-tablet: 800px;
  --width-mobile: 500px;
  --width-extra-small-mobile: 300px;
  --height-content--desktop: 80vh;
  --height-content--tablet: 50vh;
  --height-content--mobile: 40vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.btn{
  position: relative;
  cursor: pointer;
}
.mobile-navbar {
  display: none;
}

.mobile-navbar.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 7vh;
  left: 50vw;
  right: 0rem;
  height: 100vh;
  background-color: var(--navy);
  z-index: 999;
  & a:first-of-type {
    margin-top: 10rem;
  }
  & a{
    margin: 2rem 1rem;
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* header */
header {
  background-color: var(--navy);
  color: var(--accent);
  padding: 1.5rem 3rem;
  position: fixed;
  z-index: 1000;
  width: 100%;

  & .container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-desktop);
    margin: auto;

    & .brand {
      font-size: 1.5rem;
    }
  }

  & h1 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  & nav {
    display: flex;
  }

  & .btn-burger {
    display: none;
  }



  & nav a {
    color: var(--accent);
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* main */
main {

  /* hero section */
  & .hero-inner {
    background-image: url(./assets/image/image_hero.jpg);
    background-size: cover;
    height: var(--height-content--desktop);

    & .container-main.hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem 2rem;
      color: var(--muted);
      height: var(--height-content--desktop);

      & h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 400;
      }

      & b {
        color: var(--accent);
        font-weight: 700;
      }

      & p {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }

  & .container-main {
    width: var(--width-desktop);
    margin: auto;

    &.about-content {
      display: flex;
      gap: 15rem;
      padding: 4rem 2rem;
      align-items: center;
      height: var(--height-content--desktop);

      & .avatar img {
        width: 500px;
        border-radius: 10px;
      }
    }
  }

  /* about section */
  .about {
    background-color: var(--navy);
    height: var(--height-content--desktop);
    color: var(--accent);

    & h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    & .subtitle {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    & p {
      font-weight: 200;
      line-height: 1.6;
      color: var(--muted);
    }

    & .avatar img {
      width: 500px;
      border-radius: 20px;
    }
  }

  /* projects section */
  & .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9.1rem 0;

    & h4 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    & p {
      font-weight: 200;
      margin-bottom: 2rem;
    }

    & .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
      margin-top: 2rem;
      width: 100%;

      & .card {
        text-decoration: none;
        color: var(--navy);
        box-shadow: 0 4px 8px #66666633;
        border-radius: 20px;
        transition: all 0.3s ease;
        width: 100%;

        &:hover {
          transform: scale(1.05);
        }

        & .thumb {
          width: 100%;
          height: 28rem;
          border-radius: 20px 20px 20px 20px;
          background-size: cover;
          background-position: center;
          margin-bottom: 0rem;
        }

        & .amg {
          background-image: url(./assets/image/caravenue_amg.png);
        }

        & .hypnose {
          background-image: url(./assets/image/ssyncronime.png);
        }

        & .coworking {
          background-image: url(./assets/image/coworking_namur.png);
        }

        & .coinvest {
          background-image: url(./assets/image/coinvestliving.png);
        }

        & .petitachille {
          background-image: url(./assets/image/petit_achille.png);
        }

        & .renew {
          background-image: url(./assets/image/renew.png);
        }

        & .screencomposer {
          background-image: url(./assets/image/screen_composer.png);
        }

        & .volvo {
          background-image: url(./assets/image/vendez_votre_volvo.png);
        }

        & .philippart {
          background-image: url(./assets/image/funerailles_philippart.png);
        }

        & .caption {
          font-size: 1.1rem;
          font-weight: 500;
          background-color: var(--navy);
          color: var(--accent);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.5rem 3rem;
          border-radius: 0px 0px 20px 20px;
          margin-top: -1rem;
          width: 100%;
        }
      }
    }
  }
}

/* footer */
footer {
  background-color: var(--navy);
  color: var(--accent);
  padding: 5rem 0;

  & .container-footer {
    display: flex;
    justify-content: space-between;
    width: var(--width-desktop);
    margin: auto;
  }

  & a {
    color: var(--accent);
    text-decoration: none;
  }

  & .coord-content {
    display: flex;
    align-items: center;
    margin: .5rem 0rem;

    & img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    & p,
    a {
      font-weight: 200;
    }
  }

  & .footer-col:first-of-type {
    align-self: center;

    & p {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  & .footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .coord-content p {
      font-weight: 200;
    }

    & .titre-cat {
      font-weight: 600;
    }

    & .social-icons {
      display: flex;
      gap: 15px;
      margin-top: .5rem;

      & img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

/* RESPONSIVE */
/*small desktop */
@media only screen and (max-width: 1500px) {

  header .container-navbar,
  main.hero-inner,
  .container-main,
  .container-main.about-content,
  .container-main.projects,
  .container-navbar,
  footer .container-footer,
  .container-main.hero-content {
    width: var(--width-small-desktop);
    margin: auto;
  }

  header {
    padding: 1rem 2rem;
  }

  main {
    padding: 0rem 0rem;
  }

  footer {
    padding: 5rem 0;
  }

  main .container-main.about-content {
    gap: 8rem;
    padding: 0;
  }
}

/* tablet */
@media only screen and (max-width: 1200px) {

  header .container-navbar,
  main.hero-inner,
  .container-main,
  .container-main.about-content,
  .container-main.projects,
  .container-navbar,
  footer .container-footer,
  .container-main.hero-content {
    width: var(--width-tablet);
    margin: auto;
  }

  main .container-main.about-content {
    flex-direction: column;
    gap: 8rem;
    padding: 2rem 0rem;

    & .avatar img {
      width: 100%;
      height: 30rem;
    }
  }

  .container-main.projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media only screen and (max-width: 1000px) {
  header nav {
    display: none;
  }

  header .btn-burger {
    display: flex;
    
  }

  header .container-navbar,
  main.hero-inner,
  .container-main,
  .container-main.about-content,
  .container-main.projects,
  .container-navbar,
  footer .container-footer,
  .container-main.hero-content {
    width: var(--width-mobile);
    margin: auto;
  }

  main .hero-inner {
    & h1 {
      display: flex;
      flex-direction: column;

      & span {
        text-align: center;
        font-size: 1.5rem;
      }

      & b {
        font-size: 3rem;
        text-align: center;
        padding: 2rem 0rem;
        line-height: 1.1em;
      }
    }

    & p {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  main .about {
    height: 90vh
  }

  main .container-main.about-content {
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 0rem;

    & .avatar img {
      width: 100%;
      height: 20rem;
    }

    & .content {
      & h2 {
        font-size: 1.5rem;
      }

      & p {
        font-size: 1rem;
      }
    }
  }

  .container-main.projects .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  footer .container-footer {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
}

/* mobile */
@media only screen and (max-width: 600px) {

  header .container-navbar,
  main.hero-inner,
  .container-main,
  .container-main.about-content,
  .container-main.projects,
  .container-navbar,
  footer .container-footer,
  .container-main.hero-content {
    width: var(--width-extra-small-mobile);
    margin: auto;
  }

  main .container-main.about-content {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem;

    & .avatar img {
      height: 10rem;
    }

    & .content {
      & h2 {
        font-size: 1.5rem;
      }

      & p {
        font-size: 1rem;
      }
    }
  }

  main .projects h4 {
    text-align: center;
  }
}